
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap');
@import "tailwindcss";
@import "tailwindcss-animated";
@import "flowbite/src/themes/default.css";

@tailwind utilities;

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

:root {
    --background-color: #0a0a0a;
    --surface-color: #1a1a1a;
    --primary-color: #ffb0f4;
    --secondary-color: #ffd9fa;
    --text-color: #f8fafc;
    --border-color: rgba(255, 255, 255, 0.1);
    --dashed_color: rgba(255, 255, 255, 0.001);

    --profiler-top-color: #292929;
    --profiler-top-hover-color: #363636;
    --profiler-child-color: #101010;
    --profiler-child-hover-color: #212121;
    --profiler-child-group-hover-color: #161616;
}

* {
    font-family: 'JetBrains Mono', monospace;
}
